@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer utilities {
    /* Gradients for titles */
    .title-gradient-r {
        background: linear-gradient(to right, #ff1a4f, #a57fff);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .text-gradient-violet-b {
        background: linear-gradient(to bottom, #ede5ff, #a57fff);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .text-gradient-rose-b {
        background: linear-gradient(to bottom, #ffe5ef, #ff7f96);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .text-gradient-blue-b {
        background: linear-gradient(to bottom, #e5e8ff, #7fc1ff);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    /* Shadow for cards */
    .shadow-card {
        box-shadow: inset 0 -8px 30px var(--bg2-color);
    }

    /* Left and right columns lines to scoped the main content */
    .column-line-mask-t {
        -webkit-mask-image: linear-gradient(to top, var(--bg0-color) 90%, transparent);
        mask-image: linear-gradient(to top, var(--bg0-color) 90%, transparent);
    }

    /* Bottom mask for all cards */
    .mask-b {
        -webkit-mask-image: linear-gradient(to bottom, var(--bg0-color) 85%, transparent);
        mask-image: linear-gradient(to bottom, var(--bg0-color) 85%, transparent);
    }

    .mask-b-before::before {
        -webkit-mask-image: linear-gradient(to bottom, var(--bg0-color), transparent 40%);
        mask-image: linear-gradient(to bottom, var(--bg0-color), transparent 40%);
    }

    /* Left and right mask for all cards */
    .mask-x {
        -webkit-mask-image: linear-gradient(to right, transparent 10%, black, transparent 90%);
        mask-image: linear-gradient(to right, transparent 10%, black, transparent 90%);
    }

    .mask-x-before::before {
        -webkit-mask-image: linear-gradient(to right, transparent 10%, black, transparent 90%);
        mask-image: linear-gradient(to right, transparent 10%, black, transparent 90%);
    }
}